.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.header-title {
    margin-bottom: 25px;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    text-align: center;
}

.header-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.2em;
}

.header-arrow {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 30px;
    transform: translate(-50%, 0);
}